wy-alert.wy-alert-neutral a, .rst-content .wy-alert-neutral.note a, .rst-content .wy-alert-neutral.attention a, .rst-content .wy-alert-neutral.caution a, .rst-content .wy-alert-neutral.danger a, .rst-content .wy-alert-neutral.error a, .rst-content .wy-alert-neutral.hint a, .rst-content .wy-alert-neutral.important a, .rst-content .wy-alert-neutral.tip a, .rst-content .wy-alert-neutral.warning a, .rst-content .wy-alert-neutral.seealso a, .rst-content .wy-alert-neutral.admonition-todo a {
    color: #8C1515 !important;
}

.wy-tray-container li.wy-tray-item-info {
    background: #8C1515;
}
.btn-info {
    background-color: #8C1515 !important;
}

.btn-link {
    background-color: transparent !important;
    color: #8C1515;
    box-shadow: none;
    border-color: transparent !important;
}
.wy-dropdown-menu>dd>a:hover {
    background: #8C1515;
    color: #fff;
}
.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover {
    background: #8C1515;
    color: #fff;
}
.wy-inline-validate.wy-inline-validate-info .wy-input-context {
    color: #8C1515;
}
a {
    color: #8C1515;
    text-decoration: none;
}
.wy-text-info {
    color: #8C1515 !important;
}
.wy-menu-vertical header {
    color: #8C1515;
}
.wy-menu-vertical a:active {
    background-color: #8C1515;
    cursor: pointer;
    color: #fff;
}
.wy-side-nav-search input[type="text"] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #8C1515;
}
.wy-side-nav-search {
    background-color: #8C1515;
}
.wy-side-nav-search img {
    display: block;
    margin: auto auto 0.809em auto;
    height: 45px;
    width: 45px;
    background-color: #8C1515;
    padding: 5px;
    border-radius: 100%}
.wy-nav .wy-menu-vertical header {
    color: #8C1515;
}
.wy-nav .wy-menu-vertical a:hover {
    background-color: #8C1515;
    color: #fff;
}

.wy-nav-top {
    display: none;
    background: #8C1515;
}
.wy-nav-top img {
    margin-right: 12px;
    height: 45px;
    width: 45px;
    background-color: #8C1515;
    padding: 5px;
    border-radius: 100%}

.rst-versions a {
    color: #8C1515;
    text-decoration: none;
}

.rst-content a tt {
    color: #8C1515;
}

.rst-content dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #8C1515;
    border-top: solid 3px #6ab0de;
    padding: 6px;
    position: relative;
}

.wy-alert.wy-alert-neutral a, .rst-content .wy-alert-neutral.note a, .rst-content .wy-alert-neutral.attention a, .rst-content .wy-alert-neutral.caution a, .rst-content .wy-alert-neutral.danger a, .rst-content .wy-alert-neutral.error a, .rst-content .wy-alert-neutral.hint a, .rst-content .wy-alert-neutral.important a, .rst-content .wy-alert-neutral.tip a, .rst-content .wy-alert-neutral.warning a, .rst-content .wy-alert-neutral.seealso a, .rst-content .wy-alert-neutral.admonition-todo a {
    color: #8C1515;
}

.wy-tray-container li.wy-tray-item-info {
    background: #8C1515;
}
